@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome my websyte </h1>
    <p>computer accesories <a href="https://learn.microsoft.com/aspnet/core">publish reviews</a>.</p>
</div>
